swagger: '2.0'
info:
  title: API Credits Only
  version: 1.0.0
  description: "<hr/> API Rest Credits Only for Cardif Colombia.<br/> For API Gateway <br/>   <hr/> By Architecture Team. <br/> July 2020. <br/> Cardif Colombia.<br/>
    <hr/>Controles de cambio <br/>
    mm-dd-aaaa - Cambio <br/>
    02-07-2020 - Creación"

host: 'api-services.cardifnet.com'
basePath: /co/digital_sales/
schemes:
  - https
paths:


  v1/credit_cards:
    post:
      tags:
        - 'Credits Only'
      summary: >-
        Generates issuance for credits Only
      description: |
        <h1> Related projects

      parameters:
        - in: body
          name: emissions
          schema:
            $ref: '#/definitions/emissions'
      responses:
        default:
          description: ('200','Success'); (También sirve para un update) ('201','Created Success'); ('204','No Content');(Este aplica cuando llegas a la BD y no obtienes información) ('400','Technical Error'); ('404','Not Found');(método no encontrado) ('408','ConnectionTimeout'); ('422','Unprocessable Entity');(Error por null DB) ('430','Database Exception');(Cualquier otro error en DB) .
          schema:
            $ref: '#/definitions/statusResponse'
  v1/accounts_cards:
    post:
      tags:
        - 'Credits Only'
      summary: >-
        Generates issuance for credits Only
      description: |
        <h1> Related projects

      parameters:
        - in: body
          name: emissions
          schema:
            $ref: '#/definitions/emissions'
      responses:
        default:
          description: ('200','Success'); (También sirve para un update) ('201','Created Success'); ('204','No Content');(Este aplica cuando llegas a la BD y no obtienes información) ('400','Technical Error'); ('404','Not Found');(método no encontrado) ('408','ConnectionTimeout'); ('422','Unprocessable Entity');(Error por null DB) ('430','Database Exception');(Cualquier otro error en DB) .
          schema:
            $ref: '#/definitions/statusResponse'
  v1/credits:
    post:
      tags:
        - 'Credits Only'
      summary: >-
        Generates issuance for credits Only
      description: |
        <h1> Related projects

      parameters:
        - in: body
          name: emissions
          schema:
            $ref: '#/definitions/emissions'
      responses:
        default:
          description: ('200','Success'); (También sirve para un update) ('201','Created Success'); ('204','No Content');(Este aplica cuando llegas a la BD y no obtienes información) ('400','Technical Error'); ('404','Not Found');(método no encontrado) ('408','ConnectionTimeout'); ('422','Unprocessable Entity');(Error por null DB) ('430','Database Exception');(Cualquier otro error en DB) .
          schema:
            $ref: '#/definitions/statusResponse'



definitions:

  emissions_cards:
    type: object
    properties:
            partnerId:
              type: integer
              description: Partner Id.
              maxLength: 2

            generalInformation:
              type: object
              properties:
                  dateSale:
                    type: number
                    format: date
                    pattern: yyyymmdd
                    description: Fecha de venta
                    maxLength: 8
                  secureProductCode:
                    type: string
                    description: Codigo de producto Seguro
                    maxLength: 5
                  insurancePlan:
                    type: string
                    description: Plan de Seguro
                    maxLength: 5
                  primaNeta:
                    type: number
                    description: Prima de seguro antes de IVA
                  primaBruta:
                    type: string
                    description: Prima de seguro IVA incluido
                    maxLength: 12

            personalInformation:
              type: object
              properties:
                  documentType:
                    type: string
                    description: Tipo de identificación,
                                “C” Cedula ciudadanía
                                “E” Cédula extranjería
                                “N” Nit
                                “P” Pasaporte
                                “R” Registro civil
                                “T” Tarjeta identidad
                    maxLength: 1
                  documentNumber:
                    type: number
                    description: Número de identificación
                    maxLength: 15
                  Surname:
                    type: string
                    description: Primer apellido solicitante
                    maxLength: 15
                  secondSurname:
                    type: string
                    description: Segundo apellido solicitante
                    maxLength: 15
                  firstName:
                    type: string
                    description: Primer nombre solicitante
                    maxLength: 15
                  secondName:
                    type: string
                    description: Segundo nombre solicitante}
                    maxLength: 15
                  dateBirth:
                    type: number
                    format: date
                    pattern: yyyymmdd
                    description: Fecha de nacimiento
                    maxLength: 8
                  gender:
                    type: string
                    description: Sexo (Género)
                                “F” Femenino
                                “M” Masculino
                    maxLength: 1
                  email:
                    type: string
                    description: Dirección de Correo Electrónico
                    maxLength: 15
                  cellPhoneNumber:
                    type: number
                    description: Numero de Celular
                    maxLength: 10
                  address:
                    type: string
                    description: Dirección de la casa u oficina, Dirección de correspondencia fisica.
                    maxLength: 60
                  city:
                    type: string
                    description: Ciudad
                    maxLength: 20
                  Department:
                    type: string
                    description: Departamento
                    maxLength: 20
                  nationality:
                    type: string
                    description: nationality
                    maxLength: 30
                  birthCountry:
                    type: string
                    description: Pais de nacimiento
                    maxLength: 30
                  documentIniDate:
                    type: number
                    format: date
                    pattern: yyyymmdd
                    description: Fecha de expedición del documento
                    maxLength: 8

            collectionInformation:
              type: object
              properties:
                  bankProductCode:
                    type: number
                    description: Este define la forma de cobro,
                                    Tarjeta de Crédito
                                    Crédito
                                    Cuenta Ahorros
                                    Cuenta Corriente
                                    Ej; TC=01, CRE=02 , CAH= 03, CTC=04
                    maxLength: 4
                  productDebit:
                    type: number
                    description: Número de la TC/ cuenta de ahorrros/ Crédito
                    maxLength: 25
                  creditTerm:
                    type: number
                    description:  Solamente para Créditos.
                    maxLength: 3
                  creditAmount:
                    type: number
                    description:  Valor inicial de crédito
                  cardIniDate:
                    type: number
                    format: date
                    pattern: yyyymmdd
                    description: Fecha de inicio de la tarjeta/credito/cuenta
                    maxLength: 8
                  cardExpirationDate:
                    type: number
                    format: date
                    pattern: yyyymmdd
                    description: Fecha de vencimiento de la tarjeta/dredito/cuenta
                    maxLength: 8


            incentiveInformation:
              type: object
              properties:
                  channel:
                    type: number
                    description: 01 = Oficinas ; 02=Telemarketing ; 03 Fuerza Móvil de ventas; 04 digital
                    maxLength: 2
                  advisorID:
                    type: number
                    description: Cedula del asesor
                    maxLength: 17
                  advisoryOfficeCode:
                    type: number
                    description: Codigo oficina asesor
                    maxLength: 11
  emissions_credits:
    type: object
    properties:
      partnerId:
        type: integer
        description: Partner Id.
        maxLength: 2

      generalInformation:
        type: object
        properties:
          dateSale:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de venta
            maxLength: 8
          secureProductCode:
            type: string
            description: Codigo de producto Seguro
            maxLength: 5
          insurancePlan:
            type: string
            description: Plan de Seguro
            maxLength: 5
          primaNeta:
            type: number
            description: Prima de seguro antes de IVA
          primaBruta:
            type: string
            description: Prima de seguro IVA incluido
            maxLength: 12

      personalInformation:
        type: object
        properties:
          documentType:
            type: string
            description: Tipo de identificación,
              “C” Cedula ciudadanía
              “E” Cédula extranjería
              “N” Nit
              “P” Pasaporte
              “R” Registro civil
              “T” Tarjeta identidad
            maxLength: 1
          documentNumber:
            type: number
            description: Número de identificación
            maxLength: 15
          Surname:
            type: string
            description: Primer apellido solicitante
            maxLength: 15
          secondSurname:
            type: string
            description: Segundo apellido solicitante
            maxLength: 15
          firstName:
            type: string
            description: Primer nombre solicitante
            maxLength: 15
          secondName:
            type: string
            description: Segundo nombre solicitante}
            maxLength: 15
          dateBirth:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de nacimiento
            maxLength: 8
          gender:
            type: string
            description: Sexo (Género)
              “F” Femenino
              “M” Masculino
            maxLength: 1
          email:
            type: string
            description: Dirección de Correo Electrónico
            maxLength: 15
          cellPhoneNumber:
            type: number
            description: Numero de Celular
            maxLength: 10
          address:
            type: string
            description: Dirección de la casa u oficina, Dirección de correspondencia fisica.
            maxLength: 60
          city:
            type: string
            description: Ciudad
            maxLength: 20
          Department:
            type: string
            description: Departamento
            maxLength: 20
          nationality:
            type: string
            description: nationality
            maxLength: 30
          birthCountry:
            type: string
            description: Pais de nacimiento
            maxLength: 30
          documentIniDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de expedición del documento
            maxLength: 8

      collectionInformation:
        type: object
        properties:
          bankProductCode:
            type: number
            description: Este define la forma de cobro,
              Tarjeta de Crédito
              Crédito
              Cuenta Ahorros
              Cuenta Corriente
              Ej; TC=01, CRE=02 , CAH= 03, CTC=04
            maxLength: 4
          productDebit:
            type: number
            description: Número de la TC/ cuenta de ahorrros/ Crédito
            maxLength: 25
          creditTerm:
            type: number
            description: Solamente para Créditos.
            maxLength: 3
          creditAmount:
            type: number
            description: Valor inicial de crédito
          cardIniDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de inicio de la tarjeta/credito/cuenta
            maxLength: 8
          cardExpirationDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de vencimiento de la tarjeta/dredito/cuenta
            maxLength: 8


      incentiveInformation:
        type: object
        properties:
          channel:
            type: number
            description: 01 = Oficinas ; 02=Telemarketing ; 03 Fuerza Móvil de ventas; 04 digital
            maxLength: 2
          advisorID:
            type: number
            description: Cedula del asesor
            maxLength: 17
          advisoryOfficeCode:
            type: number
            description: Codigo oficina asesor
            maxLength: 11
  emissions_accounts:
    type: object
    properties:
      partnerId:
        type: integer
        description: Partner Id.
        maxLength: 2

      generalInformation:
        type: object
        properties:
          dateSale:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de venta
            maxLength: 8
          secureProductCode:
            type: string
            description: Codigo de producto Seguro
            maxLength: 5
          insurancePlan:
            type: string
            description: Plan de Seguro
            maxLength: 5
          primaNeta:
            type: number
            description: Prima de seguro antes de IVA
          primaBruta:
            type: string
            description: Prima de seguro IVA incluido
            maxLength: 12

      personalInformation:
        type: object
        properties:
          documentType:
            type: string
            description: Tipo de identificación,
              “C” Cedula ciudadanía
              “E” Cédula extranjería
              “N” Nit
              “P” Pasaporte
              “R” Registro civil
              “T” Tarjeta identidad
            maxLength: 1
          documentNumber:
            type: number
            description: Número de identificación
            maxLength: 15
          Surname:
            type: string
            description: Primer apellido solicitante
            maxLength: 15
          secondSurname:
            type: string
            description: Segundo apellido solicitante
            maxLength: 15
          firstName:
            type: string
            description: Primer nombre solicitante
            maxLength: 15
          secondName:
            type: string
            description: Segundo nombre solicitante}
            maxLength: 15
          dateBirth:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de nacimiento
            maxLength: 8
          gender:
            type: string
            description: Sexo (Género)
              “F” Femenino
              “M” Masculino
            maxLength: 1
          email:
            type: string
            description: Dirección de Correo Electrónico
            maxLength: 15
          cellPhoneNumber:
            type: number
            description: Numero de Celular
            maxLength: 10
          address:
            type: string
            description: Dirección de la casa u oficina, Dirección de correspondencia fisica.
            maxLength: 60
          city:
            type: string
            description: Ciudad
            maxLength: 20
          Department:
            type: string
            description: Departamento
            maxLength: 20
          nationality:
            type: string
            description: nationality
            maxLength: 30
          birthCountry:
            type: string
            description: Pais de nacimiento
            maxLength: 30
          documentIniDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de expedición del documento
            maxLength: 8

      collectionInformation:
        type: object
        properties:
          bankProductCode:
            type: number
            description: Este define la forma de cobro,
              Tarjeta de Crédito
              Crédito
              Cuenta Ahorros
              Cuenta Corriente
              Ej; TC=01, CRE=02 , CAH= 03, CTC=04
            maxLength: 4
          productDebit:
            type: number
            description: Número de la TC/ cuenta de ahorrros/ Crédito
            maxLength: 25
          creditTerm:
            type: number
            description: Solamente para Créditos.
            maxLength: 3
          creditAmount:
            type: number
            description: Valor inicial de crédito
          cardIniDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de inicio de la tarjeta/credito/cuenta
            maxLength: 8
          cardExpirationDate:
            type: number
            format: date
            pattern: yyyymmdd
            description: Fecha de vencimiento de la tarjeta/dredito/cuenta
            maxLength: 8


      incentiveInformation:
        type: object
        properties:
          channel:
            type: number
            description: 01 = Oficinas ; 02=Telemarketing ; 03 Fuerza Móvil de ventas; 04 digital
            maxLength: 2
          advisorID:
            type: number
            description: Cedula del asesor
            maxLength: 17
          advisoryOfficeCode:
            type: number
            description: Codigo oficina asesor
            maxLength: 11

  statusResponse:
    type: object
    properties:
      returnCode:
        type: integer
        description: codigo de retorno
      mesagge:
        type: string
        description: descripcion

      bodyResponse:
        type: object
        properties:
            policyNumber:
              type: number
              description: Customer policy number generated

